/* To be deleted */
.sample-div {
    height:100%;
    width:50%;
    background-color: darkblue;
}

.insertSlider {
    height: 100%;
    width:100%;
    margin-right: 2%;
    background-color: darkblue;
}
/*end of to be deleted*/

.analysis-background {
    position:fixed;
    z-index: -1;
    width:100%;
    height:100%;
    background-color: #222629;
    padding-bottom: 2.63157894737vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.analysis-header {
    margin-top: 2vw;
    margin-bottom: 1%;
    width:40%;
    display: flex;
    flex-direction: column;
}

.analysis-question-header {
    color:white;
    font-size: 2.5vw;
    font-family: 'CommissionerMedium';
}

.analysis-question-difficulty {
    color: #747474;
    font-size: 1.5vw;
    font-family: 'CommissionerMedium';
}

.analysis-question-text {
    color: white;
    font-size: 1vw;
    font-family: 'CommissionerMedium';
    margin-top: 2vw;
}

.analysis-question-image {
    width: 70%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.analysis-response {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.analysis-response-header {
    color:white;
    font-family: "CommissionerMedium";
}

.analysis-response-input {
    color:white;
    border-style: solid; 
    background-color: #747474;   
    font-family: "CommissionerMedium";
    height: auto;
    padding-top: 0.37vw;
    padding-bottom: 3.7vw;
    padding-left: 0.37vw;
    padding-right: 0.37vw;
    border-radius: 0.42vw;
    font-size: 0.78vw;
  }

  .analysis-response-submit {
    background-color: #FF7e1F;
    border: none;
    border-radius: 2.6vw;
    height: 2vw;
    width: 25%;
    color: white;
    font-family: 'CommissionerMedium';
    text-align: center;
    display: inline-block;
    font-size: 0.8vw;
    font-weight: 650;
    margin-top: 1%;
    margin-left: 75%;
  }

  .analysis-response-input:focus {
    outline: none;
  }

  .analysis-comments {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 1%;
  }

  .analysis-user {
      height: 50px;
      width: 75%;
      margin-left: 5%;
    float:left;
  }

  .analysis-slider {
    height: 100%;
    width: 8%;
    float:left;
}

  .analysis-username {
    color:white;
    font-family: "CommissionerMedium";
  }

  .analysis-ACS {
    color:#747474;
    font-family: "CommissionerMedium";
  }
  
  .analysis-time-ago {
    color:white;
    font-family: "CommissionerMedium";
  }

  .analysis-additional-comment {
    color:white;
    font-family: "CommissionerMedium";
  }

  .left-user-info {
    height: 60%;
    width: 80%;
    float:left;
  }

  .right-user-info {
    height: 60%;
    width: 20%;
    float:left;
  }

  @font-face {
    font-family: 'CommissionerMedium';
    src: local('Commissioner'), url(../res/fonts/Commissioner/Commissioner-Medium.ttf) format('truetype');
}
