.bracketview-center {
  height: 100%;
  height: calc(100vh - 117.3px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bracketview-div {
  position: relative;
}

.rect {
  position: absolute;
  top: 0;
  /* border: 1px solid black; */
}

.bracket {
  position: absolute;
  top: 0;
}