.imageselect-table {
  border-spacing: 0;
}

.imageselect-tile {
  display: table-cell;
}

.image-tile {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 120px;
  height: 120px;

  border-radius: 10%;
  border: 1px solid black;

  background-color: lightskyblue;
}

.imageselect-image {
  height: 100px;
}