.ip-background { 
  display: flex; 
  color: white; 
  justify-content: center;
  font-family: 'CommissionerBold'; 
}

.ip-full-container { 
  padding-top: 2.5%; 
}
.ip-matches-container { 
  align-items: center;
  flex-direction: column; 
}
.ip-match-row-container { 
  color: white;
  display:flex; 

}

.ip-teams-versus {
  padding-left: 10%; 
}
.ip-header-section  {
  border-bottom: 5px solid white; 
  display: flex;
  
}

.ip-navigation-buttons { 
  background-color: #222629;
  color: white; 
  border: none;
  cursor:pointer;
  font-family: 'ComissionerBold';
  outline: none;
}
.ip-date{ 
  padding-right: 30%; 
}

.ip-teams-versus TeamBox { 
  word-break: break-all;
}
.ip-navigation-buttons:hover {
  color:  #ff7e1f; 
}
@font-face {
  font-family: 'CommissionerBold';
  src: local('CommissionerBold'), url(../res/fonts/Commissioner/Commissioner-Bold.ttf) format('truetype');
}