/**************************** STYLING FOR OVERALL PROFILE PAGE ***********************************/
.background { 
  background-image: url('../res/images/background.png'); 
  background-size: cover; 
}
.container-middle-section, .container-profile, .container-top-section{ 
  color: white;
  display: flex; 
}
.container-middle-section { 
  position: relative; 
  padding: 0% 10%;
  background-color: black;
  align-items: flex-start;
  justify-content: center;

}

.container-middle-section h1{ 
  padding-left: 45%; 

}
.container-top-section {
  position: relative;
  flex-direction: column;


}
.container-profile {
  padding-top: 10px;  
  background-image: linear-gradient(transparent, black);
  position: relative;
  padding-left: 10%;

}

/******************************STYLES FOR FEATURE POSITIONING **********************************/
.left-content{
  order: 1; 
  flex-grow: 2;
  padding: 10px; 
}

.right-content {
  order: 3;
  flex-grow: 4; 
  padding: 10px; 
}
.bottom-right-content {
  display: flex; 
}

/**************************** STYLING FOR PROFILE  ***********************************/
.profile-photo {
  height: 230px;
  width: 230px;
  display: block;
  background-image: url('../res/ACSBorder.png');
  background-size: contain;
}

.profile-user-given-photo {
  margin-left: 37px;
  margin-top: 45px;

  display: block;
  height: 140px;
  width: 140px;
  border-radius: 50%;
}
.profile-user-score{ 
  margin-top: -85px ; 
  margin-left: 200px;
  position: absolute;
}
.profile-info {
  padding-left: 50px; 
}


/**************************** STYLING FOR USER INFORMATION ***********************************/
.information {
  position: relative; 
  padding-left: 20%;
  padding-right: 20%;
  word-break:break-all;
}
 
.content{ 
  background-color: #747474;
  padding-top: 10px;
  min-height: 200px ;
  max-height: 200px;  
  padding-left: 10px; 
  padding-right: 10px;      
}

/***************************** STYLE FOR RADAR LIST *************************************/
.radar-list p {
  background-color: #747474;
  padding-top: 10px;
  min-height: 300px ; 
  max-height: 300px; 
  padding-left: 10px; 
  padding-right: 10px; 
}
/********************************** STYLING FOR INTEREST ***********************************************************/
.interest , .picks{
  flex-grow: 4;
  padding: 10px;
}
.interest p {
  background-color: #747474;
  padding-top: 10px;
  min-height: 300px ; 
  max-height: 300px; 
  padding-left: 10px; 
  padding-right: 10px; 
}


.interest img{
  height: auto;
  width: 5%;  

}
.picks p {
  background-color: #747474;
  padding-top: 10px;
  min-height: 300px ; 
  max-height: 300px; 
  padding-left: 10px; 
  padding-right: 10px; 
}

/*********************STYLES FOR ACS HISTORY*********************/
.piechart {
  padding-left: 10%; 
  padding-right: 10%; 
  padding-top: 1%; 
  padding-bottom: 1%; 
  height: 170px;
  width: 170px;
}
.acs-content {
  background-color: #747474;
  display: flex;

}
.acs-content td {
  padding: 10px; 
}
.score-content[answer="pos"] { 
  color:#61b305;
} 
.score-content[answer="neg"] { 
  color: #B33838;
} 


@font-face {

  font-family: 'Anton';
  font-family: 'Commissioner';
  font-family: 'Roboto Condensed';
  font-family: 'Open Sans';
  font-family: 'Tahoma';
  font-family: 'Oxygen';
  font-family: 'Helveticaneue';
  font-family: 'Uni Sans';

  src: local('Anton'), url(../res/fonts/Anton/Anton-Regular.ttf) format('truetype');
  src: local('Commissioner'), url(../res/fonts/Commissioner/Commissioner-VariableFont_wght.ttf) format('truetype');
  src: local('Roboto Condensed'), local('RobotoCondensed'), url(../res/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf) format('truetype');
  src: local('Open Sans'), local('OpenSans'),
       url(../res/fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');

  src: local('Oxygen'), url(../res/fonts/Oxygen/Oxygen-Regular.ttf) format('truetype');
  src: local('Tahoma'), url(../res/fonts/Tahoma/Tahoma-Regular.ttf) format('truetype');
  src: local('Helveticaneue'), url(../res/fonts/Helveticaneue/HelveticaNeue.ttf) format('truetype');
  /* src: local('Uni Sans'), url(../res/fonts/Uni-Sans/Uni-Sans-Thin.ttf) format('truetype'); */

}

