.TeamBox {
    border-radius: 0.25vw;
    padding: 0.8vw;
}

.TB-teamImage {
    height:100%;
    width: 30%;
    float:left;
}

.TB-image {
    height: 100%;
    width:100%;
}

.TB-teamName-left {
    height:100%;
    width: 67%;
    float:left;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.TB-teamName-right {
    height:100%;
    width: 67%;
    float:left;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.TB-name-left {
    font-family:'CommissionerMedium';
    font-size: 1vw;
    margin-left: 2vw;
    color: white;
}

.TB-name-right {
    font-family:'CommissionerMedium';
    font-size: 1vw;
    margin-right: 2vw;
    color: white;
}

@font-face {
    font-family: 'CommissionerMedium';
    src: local('Commissioner'), url(../res/fonts/Commissioner/Commissioner-Medium.ttf) format('truetype');
  }
  



