
.content { 
    border-color: #747474;
    border-style: solid; 
    background-color: #747474;
    padding-top: 10px;
    padding-bottom: 50px; 
    padding-left: 10px; 
    padding-right: 10px;      
}

/**************************** Create Post Related ***********************************/
.post{
  background-color: #FFFFFF;
  border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    color: #000000;
    display: block;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 38px;
    margin-right: 8px;
    outline: none;
    padding: 16px;
}

.post_body{
background-color: white;
border-radius: 4px;
border: 1px solid;
display: flex;
margin-bottom: 16px;
padding: 8px;

}

/**************************** Display Post Related ***********************************/

.all_posts{
 margin:auto;
 width: 35%
}
